@import './base.css';

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  -webkit-overflow-scrolling: touch;
  background-size: cover;
  overflow: hidden;
}