@import './styles/base.scss';
@import './styles/variables.scss';
@import './styles/buttons.scss';
@import './styles/headings.scss';
@import './styles/input-field.scss';
@import './styles/radio-input.scss';

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  -webkit-overflow-scrolling: touch;
  background-size: cover;
  overflow: hidden;
}